.env 
pycache/ 
*.pyc 
*.pyo 
*.pyd 
.Python 
env/ 
venv/ 
*.egg-info/ 
dist/ 
build/ 
*.log 
*.csv 
*.json 
*.sqlite 
*.db 
*.cache 
*.bak 
*.swp 
.swo 
.DS_Store 
.idea/ 
.iml 
.vscode/ 
data/output/
data/logs/firefox_profile/